In [34]:
import pandas as pd

In [64]:
import os
print("Current working directory:", os.getcwd())
print("Files in current directory:", os.listdir('.'))

Current working directory: C:\Users\38631\PyCharmMiscProject
Files in current directory: ['.idea', '.venv', 'PyCharmMiscProject.iml', 'Python_projects']

In [68]:
attack_df = pd.read_csv('Python_projects/data/UEFA_CL/attacking_data.csv')
attempts_df = pd.read_csv('Python_projects/data/UEFA_CL/attempts_data.csv')
defending_df = pd.read_csv('Python_projects/data/UEFA_CL/defending_data.csv')
disciplinary_df = pd.read_csv('Python_projects/data/UEFA_CL/disciplinary_data.csv')
distribution_df = pd.read_csv('Python_projects/data/UEFA_CL/distribution_data.csv')
goalkeeping_df = pd.read_csv('Python_projects/data/UEFA_CL/goalkeeping_data.csv')
goals_df = pd.read_csv('Python_projects/data/UEFA_CL/goals_data.csv')
key_stats_data_df = pd.read_csv('Python_projects/data/UEFA_CL/key_stats_data.csv')
players_df = pd.read_csv('Python_projects/data/UEFA_CL/players_data.csv')
teams_df = pd.read_csv('Python_projects/data/UEFA_CL/teams_data.csv')

In [90]:
player_goals = pd.merge(players_df, goals_df, how='left', on='id_player')
player_goals = pd.merge(player_goals, teams_df, how='left', left_on='id_team', right_on='team_id')
columns_to_drop = ['age', 'position', 'weight(kg)', 'height(cm)', 'player_image', 'team_id', 'logo' ]
player_goals = player_goals.drop(columns_to_drop, axis=1)
#print("Columns after first merge:", player_goals.columns.tolist())
#print("Teams_df columns:", teams_df.columns.tolist())

In [91]:
key_cols = ['id_player', 'id_team', 'player_name', 'nationality', 'field_position', 'team', 'country']
other_cols = [col for col in player_goals.columns if col not in key_cols]
player_goals = player_goals[key_cols + other_cols]

In [92]:
player_goals

,id_player,id_team,player_name,nationality,field_position,team,country,goals,inside_area,outside_area,right_foot,left_foot,head,other,penalties_scored
0,250016833,50037,Harry Kane,England,Forward,FC Bayern München,Germany,5.0,5.0,0.0,5.0,0.0,0.0,0.0,3.0
1,250105927,50149,Viktor Gyökeres,Sweden,Forward,Sporting Clube de Portugal,Portugal,5.0,5.0,0.0,5.0,0.0,0.0,0.0,2.0
2,250121533,50051,Vinícius Júnior,Brazil,Forward,Real Madrid C.F.,Spain,4.0,3.0,1.0,2.0,2.0,0.0,0.0,1.0
3,250121294,50058,Tijjani Reijnders,Netherlands,Midfielder,AC Milan,Italy,3.0,3.0,0.0,2.0,1.0,0.0,0.0,0.0
4,250160436,50023,Maghnes Akliouche,France,Midfielder,AS Monaco,France,2.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
903,250011071,50050,Scott Bain,Scotland,Goalkeeper,Celtic FC,Scotland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
904,250000104,50139,Carlo Pinsoglio,Italy,Goalkeeper,Juventus,Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
905,108501,50080,Wojciech Szczęsny,Poland,Goalkeeper,FC Barcelona,Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
906,103827,50124,César Azpilicueta,Spain,Defender,Atlético de Madrid,Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
907,101585,75797,Vito Mannone,Italy,Goalkeeper,LOSC Lille,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
attempts_df

,id_player,total_attempts,attempts_on_target,attempts_off_target,blocked
0,250016833,20.0,12.0,6.0,2.0
1,250103758,21.0,10.0,5.0,6.0
2,250121533,17.0,10.0,6.0,1.0
3,250076574,20.0,9.0,5.0,6.0
4,250105927,15.0,8.0,3.0,4.0
...,...,...,...,...,...
903,250011071,NaN,NaN,NaN,NaN
904,250000104,NaN,NaN,NaN,NaN
905,108501,NaN,NaN,NaN,NaN
906,103827,NaN,NaN,NaN,NaN
907,101585,NaN,NaN,NaN,NaN

In [39]:
defending_df

,id_player,balls_recovered,tackles,tackles_won,tackles_lost,clearance_attempted
0,250174126,41.0,4.0,1.0,3.0,10.0
1,250188247,33.0,4.0,1.0,3.0,10.0
2,250139010,32.0,3.0,0.0,3.0,10.0
3,250132323,31.0,5.0,1.0,4.0,11.0
4,250188511,31.0,4.0,4.0,0.0,12.0
...,...,...,...,...,...,...
903,250011071,NaN,NaN,NaN,NaN,NaN
904,250000104,NaN,NaN,NaN,NaN,NaN
905,108501,NaN,NaN,NaN,NaN,NaN
906,103827,NaN,NaN,NaN,NaN,NaN
907,101585,NaN,NaN,NaN,NaN,NaN

In [40]:
disciplinary_df

,Unnamed: 0,id_player,fouls_committed,fouls_suffered,yellow_cards,red_cards
0,0,250112690,11.0,7.0,1,0
1,1,250065419,11.0,4.0,2,0
2,2,250105927,10.0,7.0,0,0
3,3,250129965,10.0,5.0,1,0
4,4,250025791,9.0,7.0,2,0
...,...,...,...,...,...,...
903,903,250011071,NaN,NaN,0,0
904,904,250000104,NaN,NaN,0,0
905,905,108501,NaN,NaN,0,0
906,906,103827,NaN,NaN,0,0
907,907,101585,NaN,NaN,0,0

In [41]:
distribution_df

,id_player,passing_accuracy(%),passes_attempted,passes_completed,crossing_accuracy(%),crosses_attempted,crosses_completed,free_kick_taken,matches_appearance
0,250050416,100.0,19.0,19.0,0.0,0.0,0.0,0.0,1.0
1,250138626,100.0,17.0,17.0,0.0,0.0,0.0,0.0,1.0
2,1902445,100.0,14.0,14.0,0.0,0.0,0.0,0.0,1.0
3,250089626,100.0,13.0,13.0,0.0,0.0,0.0,0.0,2.0
4,250169763,100.0,10.0,10.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...
903,250011071,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
904,250000104,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
905,108501,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
906,103827,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
907,101585,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [42]:
goalkeeping_df

,id_player,saves,goals_conceded,saves_on_penalty,clean_sheets,punches_made
0,250042780,27.0,5.0,0.0,0.0,3.0
1,250157134,23.0,15.0,1.0,0.0,1.0
2,250105818,21.0,8.0,0.0,1.0,6.0
3,74954,17.0,9.0,0.0,1.0,4.0
4,250012069,17.0,9.0,0.0,0.0,1.0
...,...,...,...,...,...,...
903,250011071,NaN,NaN,NaN,NaN,NaN
904,250000104,NaN,NaN,NaN,NaN,NaN
905,108501,NaN,NaN,NaN,NaN,NaN
906,103827,NaN,NaN,NaN,NaN,NaN
907,101585,NaN,NaN,NaN,NaN,NaN

In [43]:
goals_df

,id_player,goals,inside_area,outside_area,right_foot,left_foot,head,other,penalties_scored
0,250112880,5.0,3.0,2.0,1.0,4.0,0.0,0.0,0.0
1,250139445,3.0,1.0,2.0,2.0,1.0,0.0,0.0,0.0
2,250121533,4.0,3.0,1.0,2.0,2.0,0.0,0.0,1.0
3,250159544,3.0,2.0,1.0,3.0,0.0,0.0,0.0,0.0
4,250091187,3.0,2.0,1.0,2.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
903,250011071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
904,250000104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
905,108501,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
906,103827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
907,101585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
key_stats_data_df

,id_player,distance_covered(km/h),top_speed,minutes_played,matches_appareance
0,250016833,43.71,30.35,360.0,4.0
1,250105927,41.94,34.55,360.0,4.0
2,250121533,38.39,35.47,360.0,4.0
3,250121294,46.61,32.26,360.0,4.0
4,250160436,44.67,33.39,360.0,4.0
...,...,...,...,...,...
903,250011071,NaN,NaN,NaN,NaN
904,250000104,NaN,NaN,NaN,NaN
905,108501,NaN,NaN,NaN,NaN
906,103827,NaN,NaN,NaN,NaN
907,101585,NaN,NaN,NaN,NaN

In [45]:
players_df

,id_player,player_name,nationality,field_position,position,weight(kg),height(cm),age,id_team,player_image
0,250016833,Harry Kane,England,Forward,STRIKER,65.0,188.0,31,50037,https://img.uefa.com/imgml/TP/players/1/2025/3...
1,250105927,Viktor Gyökeres,Sweden,Forward,NaN,NaN,NaN,26,50149,https://img.uefa.com/imgml/TP/players/1/2025/3...
2,250121533,Vinícius Júnior,Brazil,Forward,UNKNOWN,NaN,NaN,24,50051,https://img.uefa.com/imgml/TP/players/1/2025/3...
3,250121294,Tijjani Reijnders,Netherlands,Midfielder,CENTRAL_MIDFIELDER,NaN,NaN,26,50058,https://img.uefa.com/imgml/TP/players/1/2025/3...
4,250160436,Maghnes Akliouche,France,Midfielder,UNKNOWN,NaN,NaN,22,50023,https://img.uefa.com/imgml/TP/players/1/2025/3...
...,...,...,...,...,...,...,...,...,...,...
903,250011071,Scott Bain,Scotland,Goalkeeper,GOALKEEPER,NaN,NaN,32,50050,https://img.uefa.com/imgml/TP/players/1/2025/3...
904,250000104,Carlo Pinsoglio,Italy,Goalkeeper,UNKNOWN,NaN,NaN,34,50139,https://img.uefa.com/imgml/TP/players/1/2025/3...
905,108501,Wojciech Szczęsny,Poland,Goalkeeper,GOALKEEPER,84.0,196.0,34,50080,https://img.uefa.com/imgml/TP/players/1/2025/3...
906,103827,César Azpilicueta,Spain,Defender,FULL_BACK,75.0,178.0,35,50124,https://img.uefa.com/imgml/TP/players/1/2025/3...
907,101585,Vito Mannone,Italy,Goalkeeper,UNKNOWN,84.0,192.0,36,75797,https://img.uefa.com/imgml/TP/players/1/2025/3...

In [46]:
teams_df

,team_id,country,team,logo
0,50138,Italy,FC Internazionale Milano,https://img.uefa.com/imgml/TP/teams/logos/70x7...
1,50124,Spain,Atlético de Madrid,https://img.uefa.com/imgml/TP/teams/logos/70x7...
2,50111,Austria,SK Sturm Graz,https://img.uefa.com/imgml/TP/teams/logos/70x7...
3,52816,Italy,Atalanta BC,https://img.uefa.com/imgml/TP/teams/logos/70x7...
4,50050,Scotland,Celtic FC,https://img.uefa.com/imgml/TP/teams/logos/70x7...
5,52969,Italy,Bologna FC 1909,https://img.uefa.com/imgml/TP/teams/logos/70x7...
6,52797,Slovakia,ŠK Slovan Bratislava,https://img.uefa.com/imgml/TP/teams/logos/70x7...
7,50147,Portugal,SL Benfica,https://img.uefa.com/imgml/TP/teams/logos/70x7...
8,2602798,Spain,Girona FC,https://img.uefa.com/imgml/TP/teams/logos/70x7...
9,7889,England,Liverpool FC,https://img.uefa.com/imgml/TP/teams/logos/70x7...
10,2603790,Germany,RB Leipzig,https://img.uefa.com/imgml/TP/teams/logos/70x7...
11,50107,Germany,VfB Stuttgart,https://img.uefa.com/imgml/TP/teams/logos/70x7...
12,50033,Czechia,AC Sparta Praha,https://img.uefa.com/imgml/TP/teams/logos/70x7...
13,50080,Spain,FC Barcelona,https://img.uefa.com/imgml/TP/teams/logos/70x7...
14,52683,England,Aston Villa FC,https://img.uefa.com/imgml/TP/teams/logos/70x7...
15,50023,France,AS Monaco,https://img.uefa.com/imgml/TP/teams/logos/70x7...
16,50058,Italy,AC Milan,https://img.uefa.com/imgml/TP/teams/logos/70x7...
17,2601306,France,Stade Brestois 29,https://img.uefa.com/imgml/TP/teams/logos/70x7...
18,50031,Switzerland,BSC Young Boys,https://img.uefa.com/imgml/TP/teams/logos/70x7...
19,50062,Netherlands,PSV Eindhoven,https://img.uefa.com/imgml/TP/teams/logos/70x7...
20,52747,France,Paris Saint-Germain,https://img.uefa.com/imgml/TP/teams/logos/70x7...
21,50109,Germany,Bayer 04 Leverkusen,https://img.uefa.com/imgml/TP/teams/logos/70x7...
22,52707,Ukraine,FC Shakhtar Donetsk,https://img.uefa.com/imgml/TP/teams/logos/70x7...
23,50051,Spain,Real Madrid C.F.,https://img.uefa.com/imgml/TP/teams/logos/70x7...
24,50149,Portugal,Sporting Clube de Portugal,https://img.uefa.com/imgml/TP/teams/logos/70x7...
25,52758,Germany,Borussia Dortmund,https://img.uefa.com/imgml/TP/teams/logos/70x7...
26,75797,France,LOSC Lille,https://img.uefa.com/imgml/TP/teams/logos/70x7...
27,50069,Serbia,FK Crvena Zvezda,https://img.uefa.com/imgml/TP/teams/logos/70x7...
28,50030,Austria,FC Salzburg,https://img.uefa.com/imgml/TP/teams/logos/70x7...
29,50139,Italy,Juventus,https://img.uefa.com/imgml/TP/teams/logos/70x7...
30,52749,Netherlands,Feyenoord,https://img.uefa.com/imgml/TP/teams/logos/70x7...
31,50043,Belgium,Club Brugge KV,https://img.uefa.com/imgml/TP/teams/logos/70x7...
32,50037,Germany,FC Bayern München,https://img.uefa.com/imgml/TP/teams/logos/70x7...
33,50164,Croatia,GNK Dinamo,https://img.uefa.com/imgml/TP/teams/logos/70x7...
34,52919,England,Manchester City,https://img.uefa.com/imgml/TP/teams/logos/70x7...
35,52280,England,Arsenal FC,https://img.uefa.com/imgml/TP/teams/logos/70x7...